<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.home.HomePageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.login.LoginPageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginCommandServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.login.LoginCommandServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterCommandServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.login.RegisterCommandServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddQuestionCommandServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.question.AddQuestionCommandServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfilePageServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.profile.ProfilePageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QuestionsPageServlet</servlet-name>
        <servlet-class>io.zoubaidas.overflowstack.ui.web.quetions.QuestionsQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginCommandServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterCommandServlet</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddQuestionCommandServlet</servlet-name>
        <url-pattern>/question.do</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ProfilePageServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuestionsPageServlet</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>

</web-app>